build/node_modules/
build/bower_components/

php/config.php
data/config.php

uploads/import/*
uploads/big/*
uploads/thumb/*
plugins/*

!uploads/import/index.html
!uploads/big/index.html
!uploads/thumb/index.html
!plugins/check.php