src/node_modules/
src/bower_components/

data/config.php

uploads/big/*
uploads/import/*
uploads/medium/*
uploads/thumb/*

!uploads/big/index.html
!uploads/import/index.html
!uploads/medium/index.html
!uploads/thumb/index.html

plugins/*

!plugins/Diagnostics/
!plugins/Log/