// Extended Theme -------------------------------------------------------------- //
.basicContext {

	&__data .cover {
		position: absolute;
		background-color: #222;
		border-radius: 2px;
		box-shadow: 0 0 0 1px black(.5);
	}

	&__data .title {
		display: inline-block;
		margin: 0 0 3px 26px;
	}

	&__data .iconic {
		display: inline-block;
		margin: 0 10px 0 1px;
		width: 11px;
		height: 10px;
		fill: white(1);
	}

	&__data .iconic.ionicons {
		margin: 0 8px -2px 0;
		width: 14px;
		height: 14px;
	}

	// Link -------------------------------------------------------------- //
	&__data input#link {
		margin: -2px 0;
		padding: 5px 7px 6px;
		width: 100%;
		background: #333;
		color: #fff;
		box-shadow: 0px 1px 0px white(.05);
		border: 1px solid black(.4);
		border-radius: 3px;
		outline: none;
	}

	// No hover -------------------------------------------------------------- //
	&__item--noHover &__data {
		padding-right: 12px;
	}

	&__item--noHover:hover &__data {
		background: none !important;
	}

}