/**
 * @copyright   2014 by Tobias Reich
 */

/* Context ------------------------------------------------*/
.basicContext {

	padding: 5px 0 6px;
	background: linear-gradient(to bottom, #333, #252525);
	border: 1px solid rgba(0, 0, 0, .7);
	border-bottom: 1px solid rgba(0, 0, 0, .8);
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .05);

	/* Item ------------------------------------------------*/
	tr {
		margin-bottom: 2px;
		color: #eee;
		font-size: 14px;
		text-shadow: 0 -1px 0px rgba(0, 0, 0, .1);

		&.separator { background-color: rgba(0, 0, 0, .3); }
	}

		tr td {
			padding: 7px 25px 6px 12px;
			min-width: auto;
			color: #fff;
			border-radius: 0;
			transition: none;

			&:hover { background: linear-gradient(to bottom, #2293EC, darken(#2293EC, 2%)); }
		}

			tr td .albumCover {
				border-radius: 2px;
				box-shadow: 0 0 0 1px rgba(0,0,0,.5);
				position: absolute;
			}

			tr td .albumTitle {
				display: inline-block;
				margin: 0 0 3px 26px;
			}

	/* Link ------------------------------------------------*/
	input#link {
		width: 100%;
		margin: -2px 0 -1px -2px;
		padding: 5px 7px 6px 7px;
		background-color: #444;
		color: #fff;
		border: 1px solid rgba(0, 0, 0, .4);
		box-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
		outline: none;
		border-radius: 3px;
	}

	/* No Hover ------------------------------------------------*/
	tr.noHover td:hover {
		background: none;
		cursor: default;
	}

}