/**
 * @copyright   2014 by Tobias Reich
 */

header {

	position: fixed;
	height: 49px;
	width: 100%;
	background: linear-gradient(to bottom, #222222, #1a1a1a);
	border-bottom: 1px solid #0f0f0f;
	z-index: 1;
	transition: transform .3s ease-out;

	/* Modes ------------------------------------------------*/
	&.hidden {
		transform: translateY(-60px);
	}

	&.loading {
		transform: translateY(2px);
	}

	&.error {
		transform: translateY(40px);
	}

	&.view {
		background: none;
		border-bottom: none;

		&.error { background-color: rgba(10, 10, 10, .99); }
	}

	/* Title ------------------------------------------------*/
	#title {
		position: absolute;
		margin: 0 30%;
		width: 40%;
		padding: 15px 0;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		text-shadow: $shadow;
		z-index: 1;

		.iconic {
			display: none;
			margin: 0 0 0 10px;
			width: 10px;
			fill: white(.5);
			filter: drop-shadow($shadow);
			transition: fill .2s ease-out;
		}

		&:hover .iconic { fill: white(1); }

		&.editable { cursor: pointer; }

		&.editable .iconic { display: inline-block; }
	}

	/* Toolbars ------------------------------------------------*/
	.toolbar {
		display: none;
		position: absolute;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 0 10px;
	}

	/* Button ------------------------------------------------*/
	.button {
		display: inline-block;
		padding: 17px 8px 15px;
		width: 15px;
		cursor: pointer;

		&--left { float: left; }

		&--right { float: right; }

		.iconic {
			fill: white(.5);
			filter: drop-shadow($shadow);
			transition: fill .2s ease-out;
		}

		&:hover .iconic { fill: white(1); }

		&--star.active .iconic { fill: #f0ef77; }

		&--eye.active .iconic { fill: #ff9737; }

		&#button_signin { display: none; }

	}

	/* Button Divider ------------------------------------------------*/
	.button_divider {
		float: right;
		position: relative;
		width: 14px;
		height: 50px;
	}

	/* Search ------------------------------------------------*/
	#search {
		float: right;
		width: 80px;
		margin: 12px 12px 0 0;
		padding: 5px 12px 6px 12px;
		background-color: #222;
		color: #fff;
		border: 0;
		outline: none;
		border-radius: 50px;
		opacity: .6;
		transition: opacity .3s ease-out, transform .3s ease-out, box-shadow .3s ease-out, width .2s ease-out;

		&:focus { width: 140px; }

		&:focus ~ #clearSearch { opacity: 1; }
	}

	#clearSearch {
		position: absolute;
		top: 13px;
		right: 78px;
		padding: 0;
		color: #888;
		font-size: 20px;
		opacity: 0;
		transition: opacity .2s ease-out, color .2s ease-out;
		cursor: pointer;

		&:hover {
			color: #fff;
			opacity: 1;
		}
	}

	/* Hosted with Lychee ------------------------------------------------*/
	#hostedwith {
		float: right;
		padding: 5px 10px;
		margin: 13px 9px;
		color: #888;
		font-size: 13px;
		text-shadow: $shadow;
		border-radius: 100px;
		display: none;
		cursor: pointer;

		&:hover { background-color: black(.3); }
	}

}