/**
 * @copyright   2014 by Tobias Reich
 */

#infobox_overlay {
	z-index: 3;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black(.8);
}

#infobox {

	z-index: 4;
	position: fixed;
	right: -370px;
	width: 350px;
	height: 100%;
	background-color: rgba(30, 30, 30, .98);
	box-shadow: -1px 0 2px black(.7);
	transform: translateX(0);
	transition: transform .3s $timingBounce;

	&.active { transform: translateX(-92%); }

	/* Misc ------------------------------------------------*/
	.wrapper {
		float: left;
		height: 100%;
		width: 300px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.edit {
		display: inline-block;
		margin-left: 3px;
		width: 10px;
		cursor: pointer;

		.iconic {
			fill: white(.5);
			filter: drop-shadow($shadow);
			transition: fill .2s ease-out;
		}

		&:hover .iconic { fill: white(1); }
	}

	.bumper {
		float: left;
		width: 100%;
		height: 50px;
	}

	/* Header ------------------------------------------------*/
	.header {
		float: left;
		height: 49px;
		width: 100%;
		background: linear-gradient(to bottom, #1f1f1f, #1a1a1a);
		border-bottom: 1px solid #0f0f0f;
	}

	.header h1 {
		position: absolute;
		margin: 15px 30% 15px calc(30% - 25px);
		width: 40%;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		text-shadow: $shadow;
	}

	.header .close {
		float: right;
		padding: 16px 65px 12px 15px;
		width: 15px;
		cursor: pointer;

		.iconic {
			fill: #888;
			filter: drop-shadow($shadow);
			transition: fill .2s ease-out;
		}

		&:hover .iconic { fill: #fff; }
	}

	/* Divider ------------------------------------------------*/
	.divider {
		float: left;
		padding: 12px 0 8px;
		width: 100%;
		border-top: 1px solid white(.02);
		box-shadow: $shadow;

		h1 {
			margin: 0 0 0 20px;
			color: white(.6);
			font-size: 14px;
			font-weight: bold;
		}
	}

	/* Table ------------------------------------------------*/
	table {
		float: left;
		margin: 10px 0 15px 20px;
	}

	table tr td {
		padding: 5px 0px;
		color: #fff;
		font-size: 14px;
		line-height: 19px;

		-webkit-user-select: text;
		-moz-user-select: text;
		user-select: text;

		&:first-child { width: 110px; }

		&:last-child { padding-right: 10px; }
	}

	/* Tags ------------------------------------------------*/
	#tags {
		width: calc(100% - 40px);
		margin: 16px 20px 12px 20px;
		color: #fff;
		display: inline-block;
	}

	#tags .empty {
		font-size: 14px;
		margin-bottom: 8px;
	}

	#tags .edit { margin-top: 6px; }

	#tags .empty .edit { margin-top: 0; }

	#tags .tag {
		float: left;
		padding: 6px 10px;
		margin: 0 6px 8px 0;
		background-color: black(.5);
		border-radius: 100px;
		font-size: 12px;
		transition: background-color .3s;

		&:hover { background-color: black(.3); }
	}

	#tags .tag span {
		float: right;
		width: 0;
		padding: 0;
		margin: 0 0 -2px 0;
		color: red;
		font-size: 11px;
		cursor: pointer;
		overflow: hidden;
		transform: scale(0);
		transition: width .3s, margin .3s, transform .3s;
	}

	#tags .tag:hover span {
		width: 10px;
		margin: 0 0 -2px 6px;
		transform: scale(1);
	}

}