/**
 * @name        contextmenu.css
 * @author      Tobias Reich
 * @copyright   2014 by Tobias Reich
 */

.contextmenu_bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
}
.contextmenu {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px 0px 6px 0px;
	background: linear-gradient(to bottom, #444 0%, #2f2f2f 100%);
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,.7);
	border-radius: 5px;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(255,255,255, .1);
	opacity: 0;
	z-index: 1001;

	transition: none;
}

	/* Items ------------------------------------------------*/
	.contextmenu tr {
		font-size: 14px;
		color: #eee;
		text-shadow: 0px -1px 0px rgba(0,0,0,.2);
		cursor: pointer;
	}
	.contextmenu tr:hover {
		background: linear-gradient(to bottom, #6a84f2, #4967F0);
	}
	.contextmenu tr.no_hover:hover {
		cursor: inherit;
		background-color: inherit;
		background-image: none;
	}
	.contextmenu tr.separator {
		float: left;
		height: 1px;
		width: 100%;
		background-color: #1f1f1f;
		border-bottom: 1px solid #4c4c4c;
		margin: 5px 0px;
		cursor: inherit;
	}
	.contextmenu tr.separator:hover {
		background-color: #222;
		background-image: none;
	}
	.contextmenu tr td {
		padding: 7px 30px 6px 12px;
		white-space: nowrap;
		transition: none;
	}
	.contextmenu tr:hover td {
		color: #fff;
		box-shadow: inset 0px 1px 0px rgba(255,255,255,.05);
		text-shadow: 0px -1px 0px rgba(0,0,0,.2);
	}
	.contextmenu tr.no_hover:hover td {
		box-shadow: none;
	}
	.contextmenu tr a {
		float: left;
		width: 10px;
		margin-right: 10px;
		text-align: center;
	}

	/* Direct Link Input ------------------------------------------------*/
	.contextmenu #link {
		float: right;
		width: 140px;
		margin: -1px -18px -2px -1px;
		padding: 5px 7px 6px 7px;
		background-color: #444;
		color: #fff;
		border: none;
		border: 1px solid rgba(0, 0, 0, .5);
		box-shadow: 0px 1px 0px rgba(255,255,255,.08);
		outline: none;
		border-radius: 5px;
	}
	.contextmenu tr a#link_icon {
		padding-top: 4px;
	}