/**
 * @name        content.css
 * @author      Tobias Reich
 * @copyright   2014 by Tobias Reich
 */

#content::before {
	content: "";
	position: absolute;
	left: 0px;
	width: 100%;
	height: 20px;
	background-image: -webkit-linear-gradient(top, #262626, #222);
	background-image: -moz-linear-gradient(top, #262626, #222);
	background-image: -ms-linear-gradient(top, #262626, #222);
	background-image: linear-gradient(top, #262626, #222);
	border-top: 1px solid #333;
}

	/* Modes ------------------------------------------------*/
	#content.view::before {
		display: none;
	}

#content {
	position: absolute;
	padding: 50px 0px 33px 0px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

	/* Photo ------------------------------------------------*/
	.photo  {
		float: left;
		display: inline-block;
		width: 206px;
		height: 206px;
		margin: 30px 0px 0px 30px;
		cursor: pointer;
	}
	.photo img {
		position: absolute;
		width: 200px;
		height: 200px;
		background-color: #222;
		border-radius: 2px;
		border: 2px solid #ccc;
	}
	.photo:hover img,
	.photo.active img {
		box-shadow: 0px 0px 5px #005ecc;
	}
	.photo:active {
		-webkit-transition-duration: .1s;
		-webkit-transform: scale(.98);
		-moz-transition-duration: .1s;
		-moz-transform: scale(.98);
		transition-duration: .1s;
		transform: scale(.98);
	}

	/* Album ------------------------------------------------*/
	.album  {
		float: left;
		display: inline-block;
		width: 204px;
		height: 204px;
		margin: 30px 0px 0px 30px;
		cursor: pointer;
	}
	.album img:first-child,
	.album img:nth-child(2) {
		-webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
		-moz-transform: rotate(0deg) translateY(0px) translateX(0px);
		transform: rotate(0deg) translateY(0px) translateX(0px);
		opacity: 0;
	}
	.album:hover img:first-child {
		-webkit-transform: rotate(-2deg) translateY(10px) translateX(-12px);
		-moz-transform: rotate(-2deg) translateY(10px) translateX(-12px);
		transform: rotate(-2deg) translateY(10px) translateX(-12px);
		opacity: 1;
	}
	.album:hover img:nth-child(2) {
		-webkit-transform: rotate(5deg) translateY(-8px) translateX(12px);
		-moz-transform: rotate(5deg) translateY(-8px) translateX(12px);
		transform: rotate(5deg) translateY(-8px) translateX(12px);
		opacity: 1;
	}
	.album img {
		position: absolute;
		width: 200px;
		height: 200px;
		background-color: #222;
		border-radius: 2px;
		border: 2px solid #ccc;
	}
	.album:hover img,
	.album.active img {
		box-shadow: 0px 0px 5px #005ecc;
	}

	/* Album/Photo Overlay ------------------------------------------------*/
	.album .overlay,
	.photo .overlay {
		position: absolute;
		width: 200px;
		height: 200px;
		margin: 2px;
	}
	.album .overlay {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.9) 100%); /* W3C */
	}
	.photo .overlay {
		background: rgba(0, 0, 0, .6);
		opacity: 0;
	}
	.photo:hover .overlay,
	.photo.active .overlay {
		opacity: 1;
	}
	.album .overlay h1,
	.photo .overlay h1 {
		min-height: 19px;
		width: 190px;
		margin: 153px 0px 3px 15px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		overflow: hidden;
	}
	.album .overlay a,
	.photo .overlay a {
		font-size: 11px;
		color: #aaa;
	}
	.album .overlay a {
		margin-left: 15px;
	}
	.photo .overlay a {
		margin: 155px 0px 5px 15px;
	}

	/* Badges ------------------------------------------------*/
	.album .badge,
	.photo .badge {
		position: absolute;
		margin-top: -1px;
		margin-left: 12px;
		padding: 12px 7px 3px 7px;
		box-shadow: 0px 0px 3px #000;
		border-radius: 0px 0px 3px 3px;
		border: 1px solid #fff;
		border-top: none;
		color: #fff;
		font-size: 24px;
		text-shadow: 0px 1px 0px #000;
		opacity: .9;
	}
	.album .badge.icon-star,
	.photo .badge.icon-star {
		padding: 12px 8px 3px 8px;
	}
	.album .badge.icon-share,
	.photo .badge.icon-share {
		padding: 12px 6px 3px 8px;
	}
	.album .badge::after,
	.photo .badge::after {
		content: "";
		position: absolute;
		margin-top: -12px;
		margin-left: -26px;
		width: 38px;
		height: 5px;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
		opacity: .4;
	}
	.album .badge.icon-star::after,
	.photo .badge.icon-star::after {
		margin-left: -29px;
	}
	.album .badge.icon-share::after,
	.photo .badge.icon-share::after {
		margin-left: -31px;
	}
	.album .badge.icon-reorder::after {
		margin-left: -30px;
	}
	.album .badge:nth-child(2n),
	.photo .badge:nth-child(2n) {
		margin-left: 57px;
	}
	.album .badge.red,
	.photo .badge.red {
		background: #d64b4b;
		background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
		background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
		background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
	}
	.album .badge.blue,
	.photo .badge.blue {
		background: #d64b4b;
		background: -webkit-linear-gradient(top, #347cd6, #2945ab);
		background: -moz-linear-gradient(top, #347cd6, #2945ab);
		background: -ms-linear-gradient(top, #347cd6, #2945ab);
	}

	/* Divider ------------------------------------------------*/
	.divider {
		float: left;
		width: 100%;
		margin-top: 50px;
		opacity: 0;
		border-top: 1px solid #2E2E2E;
		box-shadow: 0px -1px 0px #151515;
	}
	.divider:first-child {
		margin-top: 0px;
		border-top: none;
	}
	.divider h1 {
		float: left;
		margin: 20px 0px 0px 30px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		text-shadow: 0px -1px 0px #000;
	}

	/* No Content ------------------------------------------------*/
	.no_content {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 160px;
		width: 180px;
		margin-top: -80px;
		margin-left: -90px;
		padding-top: 20px;
		color: rgba(20, 20, 20, 1);
		text-shadow: 0px 1px 0px rgba(255, 255, 255, .05);
		text-align: center;
	}
	.no_content .icon {
		font-size: 120px;
	}
	.no_content p {
		font-size: 18px;
	}