/**
 * @name        _header.css
 * @author      Tobias Reich
 * @copyright   2014 by Tobias Reich
 */

header {
	position: fixed;
	height: 49px;
	width: 100%;
	background-image: -webkit-linear-gradient(top, #3E3E3E, #282828);
	background-image: -moz-linear-gradient(top, #3E3E3E, #282828);
	background-image: -ms-linear-gradient(top, #3E3E3E, #282828);
	background-image: linear-gradient(top, #3E3E3E, #282828);
	border-bottom: 1px solid #161616;
	z-index: 1;

	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	transition: transform .3s ease-out;
}

	/* Modes ------------------------------------------------*/
	header.hidden {
		-webkit-transform: translateY(-60px);
		-moz-transform: translateY(-60px);
		transform: translateY(-60px);
	}
	header.loading {
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		transform: translateY(2px);
	}
	header.error {
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
		transform: translateY(40px);
	}
		header.view.error {
			background-color: rgba(10,10,10,.99);
		}
	header.view {
		background-image: none;
		border-bottom: none;
	}
		header.view .button,
		header.view #title,
		header.view .tools {
			text-shadow: none !important;
		}

	/* Title ------------------------------------------------*/
	header #title {
		position: absolute;
		margin: 0px 30%;
		width: 40%;
		padding: 15px 0px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		text-shadow: 0px -1px 0px #222;
	}
	header #title.editable {
		cursor: pointer;
	}

	/* Button ------------------------------------------------*/
	header .button {
		color: #888;
		font-family: 'FontAwesome';
		font-size: 21px;
		font-weight: bold;
		text-decoration: none !important;
		cursor: pointer;
		text-shadow: 0px -1px 0px #222;
	}
	header .button.left {
		float: left;
		position: absolute;
		padding: 16px 10px 8px 18px;
	}
	header .button.right {
		float: right;
		position: relative;
		padding: 16px 19px 13px 11px;
	}
	header .button:hover {
		color: #fff;
	}
	header #tools_albums,
	header #tools_album,
	header #tools_photo,
	header #button_signin {
		display: none;
	}

	/* Button Divider ------------------------------------------------*/
	header .button_divider {
		float: right;
		position: relative;
		width: 14px;
		height: 50px;
	}

	/* Search ------------------------------------------------*/
	header #search {
		float: right;
		width: 80px;
		margin: 12px 12px 0px 0px;
		padding: 5px 12px 6px 12px;
		background-color: #383838;
		color: #fff;
		border: none;
		border: 1px solid #131313;
		box-shadow: 0px 1px 0px rgba(255,255,255,.1);
		outline: none;
		border-radius: 50px;
		opacity: .6;

		-webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out, box-shadow .3s, width .2s ease-out;
		-moz-transition: opacity .3s ease-out, -moz-transform .3s ease-out, box-shadow .3s, width .2s ease-out;
		transition: opacity .3s ease-out, transform .3s ease-out, box-shadow .3s, width .2s ease-out;
	}
	header #search:focus {
		width: 140px;
	}

	/* Tools ------------------------------------------------*/
	header .tools:first-of-type {
		margin-right: 6px;
	}
	header .tools {
		float: right;
		padding: 14px 8px;
		color: #888;
		font-size: 21px;
		text-shadow: 0px -1px 0px #222;
		cursor: pointer;
	}
	header .tools:hover a {
		color: #fff;
	}
	header .tools .icon-star {
		color: #f0ef77;
	}
	header .tools .icon-share.active {
		color: #ff9737;
	}

	/* Hosted with Lychee ------------------------------------------------*/
	header #hostedwith {
		float: right;
		padding: 5px 10px;
		margin: 13px 9px;
		color: #888;
		font-size: 13px;
		text-shadow: 0px -1px 0px #222;
		display: none;
		cursor: pointer;
	}
	header #hostedwith:hover {
		background-color: rgba(0, 0, 0, .2);
		border-radius: 100px;
	}